body {
    text-align: center;
    background-image: linear-gradient(purple,blue,black)
}
#one,#two,#third,#fourth,#fifth,#sixth{
    height: 300px;
    width: 300px;
}
.first{
    width: 70opx;
}
#myCarouselimg{
    width: 50px;
    margin-top: 35px;
}

.carousel-inner{
    margin-bottom: 15px;
    margin-top: 15px;
    color: azure      
}